<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="static/style/style.css">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
</head>

<body>
  <header id="landing">
    <h1 class="main-title"></h1>
    <p class="tagline"></p>
    <nav>
      <ul class="social-links">
      </ul>
    </nav>
    <p><strong>This website is a work in progress and not representative of the final page</strong></p>
  </header>

  <section id="about">
    <h2></h2>
  </section>

  <section class="centre"><img src="static/images/ed_pigeons.jpg" alt="Me hanging out with some pigeons somewhere" />
  </section>

  <section id="skills">
    <img src="static/images/python.png" alt="Python Logo" class="python-logo">
    <h2></h2>
    <div class="skills-list">
    </div>
  </section>

  <section class="centre">
    <a href="https://edwardatkin.co.uk/blog/operation_solution_steal"><img src="static/images/oss.png" alt="Blog Thumbnail for Operation Solution Steal" /></a>
  </section>

  <section id="work">
    <h2>Work</h2>
  </section>

  <section id="projects">
    <h2>Projects</h2>
  </section>

  <section class="centre">
    <img src="static/images/sokobanvania.png" alt="Sokobanvania gameplay" />
  </section>

  <section id="miscellaneous">
    <h2>Bonus Section</h2>
  </section>

  <section class="centre">
    <img src="static/images/franks.jpg" alt="Frankie sleeping" />
  </section>

  <footer id="contact">
    <h2>Contact Me</h2>
    <a href="mailto:edwardatkin@edwardatkin.com" class="contact-button">Get in Touch</a>
  </footer>
</body>

</html>
